{% extends 'base.html' %}

{% block content %}

    <div>
      <canvas id="chart"></canvas>
    </div>

    <div class="news_text">
      <p class="url_text">Посилання на новину: <a href="{{ url }}" class="url">{{ url }}</a></p>
      <p class="text_p">{{ text }}</p> 
      <a href="/playground/form" class="bn3637 bn36 down_bn">Повернутися</a>
    </div>
    <div>
      <p>Ви можете оцінити роботу класифікатора <a href="/playground/mark" class="not_hover">тут</a></p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>

      const translations = {
        "Military": "Війна",
        "Entertainment": "Культура",
        "Sport": "Спорт",
        "Tech": "Технології",
        "Policy": "Політика",
        "Health": "Здоров'я",
        "Ecology": "Екологія",
        "Science": "Наука",
        "Nature": "Природа",
        "Economics": "Економіка",
        "Culture": "Культура"
      }
      new Chart(
        document.getElementById('chart'),
        {
          type: 'bar',
          options: {
            indexAxis: 'y',
          },
          data: {
            labels: [{% for label in labels %} translations['{{label}}'], {% endfor %}],
            datasets: [
              {
                label: 'Результати',
                data: [{% for score in scores %} '{{ score }}', {% endfor %}]
              }
            ]
          }
        }
      );
    </script>

{% endblock %}