{% extends 'base.html' %}

{% block content %}

    <div>
      <canvas id="bartChart"></canvas>
      <canvas id="zeroShotChart"></canvas>
      <p class="random_forest_result" id="random_forest_result"></p>
    </div>

    <div class="news_text">
      <p class="url_text">Посилання на новину: <a href="{{ url }}" class="url">{{ url }}</a></p>
      <p class="text_p">{{ text }}</p> 
      <a href="/playground/form" class="bn3637 bn36 down_bn">Повернутися</a>
    </div>
    <div>
      <p>Ви можете оцінити роботу класифікатора <a href="/playground/mark" class="not_hover">тут</a></p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>

      const translations = {
        "Military": "Війна",
        "Entertainment": "Культура",
        "Sport": "Спорт",
        "Tech": "Технології",
        "Policy": "Політика",
        "Health": "Здоров'я",
        "Ecology": "Екологія",
        "Science": "Наука",
        "Nature": "Природа",
        "Economics": "Економіка",
        "Culture": "Культура"
      };
      
      document.getElementById('random_forest_result').innerHTML = 
        "Результати Random Forest Classification: " + translations['{{ randomForestLabel }}'];

      new Chart(
        document.getElementById('bartChart'),
        {
          type: 'bar',
          options: {
            indexAxis: 'y',
          },
          data: {
            labels: [{% for label in bartLabels %} translations['{{label}}'], {% endfor %}],
            datasets: [
              {
                label: 'Результати facebook/BART-large-mnli',
                data: [{% for score in bartScores %} '{{ score }}', {% endfor %}]
              }
            ]
          }
        }
      );

      new Chart(
        document.getElementById('zeroShotChart'),
        {
          type: 'bar',
          options: {
            indexAxis: 'y',
          },
          data: {
            labels: [{% for label in zeroShotLabels %} translations['{{label}}'], {% endfor %}],
            datasets: [
              {
                label: 'Результати zero-shot-classification',
                data: [{% for score in zeroShotScores %} '{{ score }}', {% endfor %}]
              }
            ]
          }
        }
      );
    </script>

{% endblock %}