{% extends 'base.html' %}

{% block content %}
  <section class="form">
    <p class="avg_mark">Середня оцінка цього класифікатора: {{ avgMark }} </p>
    <form method="post">
      {% csrf_token %}
      <div class="display_flex">
        <input type="text"  name="input" placeholder="URL" value="{{ enteredUrl }}"  onclick="removeErrorMessage()">
        {% load static %}
        <div class="info_img_div">
          <img src="{% static '/images/info.svg' %}" class="info_img">
          <div class="info_text">
            Вставте у поле посилання на новину з українського сайту. Якщо отримуєте повідомлення, що адреса не може бути відкрита, це означає, що даний сайт захищений від парсингу або така сторінка відсутня, тому Ви не зможете скористатися цим додатком, щоб прокласифікувати новини з нього
          </div>
        </div>
      </div>
      {% if isAnyError %}
        <p class="error">{{ errorText }}</p>
      {% endif %}
      <input type="submit" class="bn3637 bn36 down_bn" value="Відправити"></input>
    </form>
  </section>
  <script>
    function removeErrorMessage() {
      let message = document.getElementsByClassName("error")
      message[0].parentNode.removeChild(message[0]);
    }
  </script>
{% endblock %}