{% extends 'base.html' %}

{% block content %}
  <div class="content_text">
    <p class="start_text">Класифікація - це розподіл досліджуваних об'єктів і явищ, які відрізняються 
        між собою за певними ознаками, за класами (групами, совокупностям). 
        Об'єкти об'єднуються в класи (групуються) на основі подібності. 
        Групуючи дані сприйняття дійсності в класи, ми перетворимо великий обсяг 
        відповідної інформації, роблячи її зрозумілою і придатною для подальших 
        узагальнень - висновків і прогнозів.</p>
  </div>
  <div class="pos">
    <img src="../static/images/houses.svg" class="houses">
    <div class="class class1">CLASS</div>
    <div class="class class2">CLASS</div>
    <div class="class class3">CLASS</div>
    <div class="list list1">
      <ul>
        <li>спам</li>
        <li>не спам</li>
      </ul>
    </div>
    <div class="list list1">
      <ul>
        <li>спам</li>
        <li>не спам</li>
      </ul>
    </div>
    <div class="list list2">
      <ul>
        <li>позитивні</li>
        <li>негативні</li>
      </ul>
    </div>
    <div class="list list3">
      <ul>
        <li>маркетинг</li>
        <li>фінанси</li>
        <li>менеджмент</li>
        <li>економіка</li>
      </ul>
    </div>
  </div>
  <a href="/playground/form" class="bn3637 bn36 down_bn">Почати</a>
{% endblock %}